asgiref==3.11.0
contourpy==1.3.3
cycler==0.12.1
Django==6.0
django-cors-headers==4.9.0
djangorestframework==3.16.1
dotenv==0.9.9
Faker==39.0.0
fonttools==4.61.1
joblib==1.5.3
kiwisolver==1.4.9
matplotlib==3.10.8
numpy==2.4.1
packaging==26.0
pandas==3.0.0
pillow==12.0.0
psycopg2==2.9.11
psycopg2-binary==2.9.11
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
scikit-learn==1.8.0
scipy==1.17.0
six==1.17.0
sqlparse==0.5.4
threadpoolctl==3.6.0
tzdata==2025.3
